/target
/result
/result-*
/.direnv
/.idea
*.iml
*.apk
*.ap_
*.aab
*.dex
local.properties
.gradle
**/build/
android/app/src/main/jniLibs/
android/.cxx
tools/node_modules
*.log
.DS_Store
/android/captures
*.keystore
*.jks
.env
.envrc.local
